body,
html {
  height: 100%;
  margin: 0;
}

.landing_bg {
  /* The image used */
  background-image: url("landing_bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  transition: all 0.3s !important;
}
a:hover {
  transform: scale(1.15);
}