:root {
  --b1: #297373;
  --b2: #ff8552;
  --b3: #293241;
  --b4: #98c1d9;
  --t1: #e6e6e6;
  --t2: #444444;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  background: var(--b3);
  font-family: "Verdana", "Times New Roman";
  color: var(--t1);
  margin-top: 5rem;
}

h3,
h4,
h5,
h6 {
  color: var(--t2);
}

ul {
  margin: 0;
}

.card,
.border-bottom,
.requiredField {
  color: var(--t2);
}

.bg-navbar {
  background-color: var(--b1);
}

.link-concert {
  color: var(--b1);
}

.site-header .navbar-nav .nav-link {
  color: var(--t1);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--t1);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  /*background: var(--b4);
  padding: 10px 20px;
  border: 1px solid var(--b4);
  border-radius: 3px;
  margin-bottom: 20px;*/
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: var(--t2);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logo {
  color: var(--t1);
  padding-right: 10px;
  text-decoration: none;
  font-size: 2rem;
}

a {
  transition: all 0.3s !important;
}
a:hover {
  transform: scale(1.15);
}

.cardHelp {
  text-decoration: none;
  color: #1d1d1d;
}
.cardHelp:link {
  text-decoration: none;
}
.cardHelp:hover {
  text-decoration: none;
}

.cardBorder {
  border: 1px solid rgba(51, 51, 51, 0.479);
}
.imgBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.cardMargin {
  margin-bottom: 30px;
}

/* Help align different sized text vertically in cards */
.alignVertical {
  vertical-align: top;
  line-height: 20px;
}

.card-text {
  margin-bottom: 5px;
}

/* Help with making images same height in cards */
.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.landing_bg {
  /* The image used */
  background-image: url("landing_bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* * {
  border: 1px solid red;
} */

.filterBtn {
  background-color: white;
  color: var(--t2);
}

.labelHelp {
    color: rgb(32, 32, 32);
}

::-webkit-input-placeholder {
  font-size: 11px!important;
  color: rgb(189, 189, 189);
}

.profile  {
  margin-bottom: 10%;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgb(60, 206, 243);*/
  background-color: rgb(103, 103, 134);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00f06c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

