:root {
  --b1: #297373;
  --b2: #FF8552;
  --b3: #293241;
  --b4: #98C1D9;
  --t1: #E6E6E6;
  --t2: #444444;
}

body {
  background: var(--b3);
  font-family: "Verdana", "Times New Roman";
  color: var(--t1);
  margin-top: 5rem;
}

h3, h4, h5, h6 {
  color: var(--t2);
}

ul {
  margin: 0;
}

.card, .border-bottom, .requiredField {
  color: var(--t2);
}

.bg-navbar {
  background-color: var(--b1);
}

.link-concert {
  color: var(--b1);
}

.site-header .navbar-nav .nav-link {
  color: var(--t1);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--t1);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  /*background: var(--b4);
  padding: 10px 20px;
  border: 1px solid var(--b4);
  border-radius: 3px;
  margin-bottom: 20px;*/
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: var(--t2);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.logo {
  color: var(--t1);
  padding-right: 10px;
  text-decoration: none;
  font-size: 2rem;
}

a {
  transition: all 0.3s !important;
}
a:hover {
  transform: scale(1.15);
}

.cardHelp {
  text-decoration: none;
  color: #1d1d1d;   
}
.cardHelp:link {
  text-decoration: none;
}
.cardHelp:hover {
  text-decoration: none;
}

.cardBorder {
  border: 1px solid rgba(51, 51, 51, 0.479);
}
.imgBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}

.cardMargin{
  margin-bottom: 30px;
}

/* Help align different sized text vertically in cards */
.alignVertical{
  vertical-align: top; 
  line-height: 20px;
}

.card-text{
  margin-bottom: 5px;
}

/* Help with making images same height in cards */
.card-img-top{
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
  