

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'landing/details.css' %}">

<div class="form-group">
  <!-- Collapse button -->
  <div class="btn btn-outline-info m-1" href="#" type="button" data-toggle="collapse" data-target="#{{ id }}"
    aria-controls="{{ id }}" aria-expanded="false" aria-label="Toggle form">
    {{ title }}
  </div>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="{{ id }}">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <input type="{{ type }}" id="{{ id }}" name="{{ id }}" class="form-control">
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</div>