{% extends "landing/base.html" %}
{% load custom_tags %}

{% block extrahead %}
<script>
    function loadHamburgers() {
        var toggler = document.getElementById("hamburger-toggler");
        if(!window.sessionStorage) toggler.classList.add("invisible");;
        var hamburgers = document.getElementsByClassName("collapse");
        var state = window.sessionStorage.getItem("hamburgerness");
        // console.log(state);
        state = ((state == "true") ? "true" : "false");
        for (let index = 1; index < hamburgers.length; index++) {
            hamburgers.item(index).classList.toggle("show", state == "true");
        }
        toggler.classList.toggle("bi-caret-right-fill", state == "false");
        toggler.classList.toggle("bi-caret-down-fill", state == "true");
    }

    function toggleHamburgers() {
        if(!window.sessionStorage) return;
        var state = window.sessionStorage.getItem("hamburgerness");
        state = ((state != "true") ? "true" : "false");
        // console.log(state);
        window.sessionStorage.setItem("hamburgerness", state);
        loadHamburgers();
    }
</script>
{% endblock %}

{% block body_args %}
onload="loadHamburgers();"
{% endblock %}


{% block content %}
<div class="col-xl-2 col-md-3">
    <div class="sticky-top">
        <br><br><br><br>
        <div class="content-section">
            <div class="d-flex mb-4">
                <h3 class="m-0">Filters</h3>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="btn btn-small text-dark p-0" type="button" onclick="toggleHamburgers()">
                        <i id="hamburger-toggler" class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
            </div>
            <form name="form_data" action="{% url 'landing-home' page=0 %}" method="POST">
                <div>
                    {% csrf_token %}
                    {% include "landing/hamburger.html" with title="Search" id="search" type="text"  %}
                    {% include "landing/hamburger.html" with title="Start Date" id="startdate" type="date"  %}
                    {% include "landing/hamburger.html" with title="End Date" id="enddate" type="date"  %}
                    {% include "landing/hamburger.html" with title="Genre" id="genre" type="text"  %}
                    {% include "landing/hamburger.html" with title="City" id="city" type="text"  %}
                    <div class="form-group">
                        <!-- Collapse button -->
                        <div class="btn btn-outline-info mb-1" type="button" data-toggle="collapse" data-target="#state"
                        aria-controls="state" aria-expanded="false" aria-label="Toggle form">
                        State
                        </div>
                    
                        <!-- Collapsible content -->
                        <div class="collapse" id="state">
                    
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                                <select class="custom-select mr-sm-2" id="state" name="state">
                                    <option value="" selected>All</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                        </ul>
                        <!-- Links -->
                    
                        </div>
                        <!-- Collapsible content -->
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <label class="switch m-1 p-0">
                        <input type="checkbox" name = "check[]" value = "starred" id = "starred">
                        <span class="slider round" for="starred"></span>
                    </label>
                    <p class="m-1">Favorited</p>
                </div>
                <div class="d-flex align-items-center">
                    <label class="switch m-1 p-0">
                        <input type="checkbox" name = "check[]" value = "recommended" id = "recommended">
                        <span class="slider round" for="recommended"></span>
                    </label>
                    <p class="m-1">From Spotify</p>
                </div>
                    <button type="submit" class="btn btn-info m-1">Submit</button>
                    <button type="reset" class="btn btn-outline-info m-1">Reset</button>
            </form>
        </div>
    </div>
</div>
<div class="col-xl-9 col-md-8">
    <br><br><br><br>
    {% if events != "error" %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div>
        <div class="card-deck d-flex justify-content-center">
        <!--<div class="row row-cols-1 row-cols-md-3 g-4">-->
            {% for x in events %}
            <a href="{% url 'landing-detail' %}?{{x|get_encoded_dict}}" class="cardHelp cardMargin">
                <div class="card h-100 cardHelp cardBorder" style="width: 15.5em; height: 15em;">
                    <img alt="{{ x.name }} display picture" class="card-img-top imgBorder" src="{{ x.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title cardHelp" style="font-size: 1em;">{{ x.name }}</h5>
                        <div class = "d-flex justify-content-between ">
                            <h5 class="card-text cardHelp alignVertical" style="font-size: .7em; color: rgba(0, 0, 0, 0.699);">{{ x.city }}, {{ x.state }}</h5>
                        </div>
                        <div class = "d-flex justify-content-between">
                            <p class="card-text cardHelp" style="font-size: .8em; color: rgba(0, 0, 0, 0.699);">{{ x.date }}</p>
                            <p class="card-text cardHelp" style="font-size: .7em; color: rgb(100, 199, 61);">${{ x.min_price }} - ${{ x.max_price }}</p>
                        </div>
                        
                    </div>
                </div> 
            </a>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {% if page == 0 %}
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'+1' %}?{{filters|get_encoded_dict}}">Next</a>
            {% elif page > 0 %}
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=0 %}?{{filters|get_encoded_dict}}">First</a>
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'-1' %}?{{filters|get_encoded_dict}}">Previous</a>
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'+1' %}?{{filters|get_encoded_dict}}">Next</a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <p>Nothing left to Display</p>
        <!-- <form><input type="button" value="Back" onclick="history.back()"></form> -->
        <button type="submit" class="btn btn-outline-info" onclick="history.back()">Return to Gallery</button>
    </div>
    {% endif %}
</div>

 
{% endblock content %}