{% extends "landing/base.html" %}
{% load custom_tags %}
{% block content %}
{% if events != "error" %}
<div class="col-md-9">
    <div>
        <div class="card-deck d-flex justify-content-center">
        <!--<div class="row row-cols-1 row-cols-md-3 g-4">-->
            {% for x in events %}
            <a href="{% url 'landing-detail' %}?{{x|get_encoded_dict}}" class="cardHelp cardMargin">
                <div class="card h-100 cardHelp cardBorder" style="width: 15.5em; height: 15em;">
                    <img class="card-img-top imgBorder" src="{{ x.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title cardHelp" style="font-size: 1em;">{{ x.name }}</h5>
                        <div class = "d-flex justify-content-between ">
                            <h5 class="card-text cardHelp alignVertical" style="font-size: .7em; color: rgba(0, 0, 0, 0.699);">{{ x.city }}, {{ x.state }}</h5>
                        </div>
                        <div class = "d-flex justify-content-between">
                            <p class="card-text cardHelp" style="font-size: .8em; color: rgba(0, 0, 0, 0.699);">{{ x.date }}</p>
                            <p class="card-text cardHelp" style="font-size: .7em; color: rgb(100, 199, 61);">${{ x.min_price }} - ${{ x.max_price }}</p>
                        </div>
                        
                    </div>
                </div> 
            </a>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">

            {% if page == 0 %}
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'+1' %}?{{filters|get_encoded_dict}}">Next</a>
            {% elif page > 0 %}
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=0 %}?{{filters|get_encoded_dict}}">First</a>
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'-1' %}?{{filters|get_encoded_dict}}">Previous</a>
                <a class="btn btn-outline-info mb-4 m-3" href="{% url 'landing-home' page=page|add:'+1' %}?{{filters|get_encoded_dict}}">Next</a>
            {% endif %}
        </div>

    </div>
</div>
<div class="col">
    <div class="content-section">
        <h3>Filters</h3>
        <!-- <p class='text-muted'>Leave filters you do not wish to use blank</p> -->
        <form action="{% url 'landing-home' page=0 %}" method="POST">
            {% csrf_token %}
            {% include "landing/hamburger.html" with title="Search" id="search" type="text"  %}
            {% include "landing/hamburger.html" with title="Start Date" id="startdate" type="date"  %}
            {% include "landing/hamburger.html" with title="End Date" id="enddate" type="date"  %}
            {% include "landing/hamburger.html" with title="City" id="city" type="text"  %}
            {% include "landing/hamburger.html" with title="State" id="state" type="text" %}
            {% include "landing/hamburger.html" with title="Genre" id="genre" type="text"  %}

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="check[]" value="starred" id="starred">
                <label class="form-check-label labelHelp" for="starred">Starred Concerts</label><br>
                <!-- <input class="form-check-input" type="checkbox" name="check[]" value="unstarred" id="unstarred">
                <label class="form-check-label labelHelp" for="unstarred">Unstarred Concerts</label><br> -->
                <input class="form-check-input" type="checkbox" name="check[]" value="recommended" id="recommended">
                <label class="form-check-label labelHelp" for="recommended">Recommended from Spotify</label>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-info">Submit</button>
            <button type="reset" class="btn btn-outline-info">Reset</button>
        </form>
    </div>
</div>
{% else %}
<div class="col text-center">
    <p>Nothing left to Display</p>
            <!-- <form><input type="button" value="Back" onclick="history.back()"></form> -->
        <button type="submit" class="btn btn-outline-info" onclick="history.back()">Return to Gallery</button>
</div>
<!-- <div class="col-md-4">
    <div class="content-section">
        <h3>Filters</h3>
        <p class='text-muted'>This is where our filters will go
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">By Date</li>
            <li class="list-group-item list-group-item-light">By Genre</li>
            <li class="list-group-item list-group-item-light">By Distance</li>
            <li class="list-group-item list-group-item-light">By Price</li>
        </ul>
        </p>
    </div>
</div>-->
{% endif %}

 
{% endblock content %}